.circle-profile {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border-radius: 50%;
  border: 1px solid var(--background-navbar);
  box-shadow: 0 0 5px var(--hover);
  overflow: hidden;

  text-decoration: none;
  color: var(--text-contrast-primary);

  & img {
    width: 100%;
    height: 100%;
  }
}

.initials {
  font-weight: bold;
}
