$with: 50px;
.circle {
  width: $with;
  height: $with;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  color: black;
  font-weight: bold;
}
