<div class="playlist-wrapper" *ngIf="playlist">
  <div class="header">
    <div class="content">
      <div class="content-header">
        <a class="content-header__action" [routerLink]="previousUrl">
          <i class="fa-solid fa-chevron-left"></i>
        </a>

        <button class="content-header__action">
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>
      </div>

      <div class="content-information">
        <h5 class="content-information__description">Playlist</h5>

        <h4>{{ playlist.name.value }}</h4>

        <p class="content-information__description">
          {{ playlist.description.value }}
        </p>

        <span class="content-information__description">
          <small>{{ episodes.length }} Episodios</small>
          <br />
          <small>{{ durationSeconds?.toString() }}</small>
        </span>
      </div>
    </div>

    <div class="actions">
      <button class="actions__action" (click)="playPlaylist()">
        <i class="fa-solid fa-play"></i>
      </button>
    </div>

    <img [src]="imageUrl" alt="" />
  </div>

  <div class="list">
    <div
      class="list-item"
      *ngFor="let episode of episodes"
      [ngClass]="{ selected: isEpisodeSelected(episode) }"
    >
      <button class="list-item__action" (click)="onPlay(episode)">
        <i class="fa-solid fa-play" *ngIf="!isEpisodePlaying(episode)"></i>
        <i
          class="fa-solid fa-pause pause"
          *ngIf="isEpisodePlaying(episode)"
        ></i>
      </button>
      <a class="list-item-info" [routerLink]="['/episode', episode.uuid.value]">
        <span class="list-item-info__title">
          {{ "Episodio " + episode.episode }}
        </span>
        <span class="list-item-info__subtitle">
          {{ episode.title.value }}
        </span>
      </a>

      <div class="list-item-actions">
        <button
          class="list-item-actions__action"
          (click)="removeEpisode(episode)"
          *ngIf="canUpdate"
        >
          <i class="fa-solid fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<app-modal #modal></app-modal>
