.card-list {
  display: flex;
  gap: 1.4rem;
  width: 100%;
  overflow-x: auto;
  padding: 0 0.5rem;

  & a {
    text-decoration: none;
    color: var(--text-primary);
  }
}

.card-list::-webkit-scrollbar {
  display: none;
}
