<main
  class="animate__animated animate__fadeIn explore"
  swScrollPosition="explore"
>
  <section class="header">
    <app-search-input
      (searchEmitter)="onSearch($event)"
      placeholder="Buscar episodios"
    ></app-search-input>
    <div class="header-profile">
      <app-circle-profile></app-circle-profile>
    </div>
  </section>

  <section class="suggest">
    <button class="suggest-action" (click)="onSuggest('')">
      Obtener todos
    </button>
    <button class="suggest-action" (click)="onSuggest('Einstein')">
      Albert Einstein
    </button>
    <button class="suggest-action" (click)="onSuggest('Hawking')">
      Stephen Hawking
    </button>
  </section>

  <section class="results" *ngIf="episodes.length > 0">
    <h3 class="results__title">Resultados</h3>
    <a
      [routerLink]="['/episode', episode?.uuid?.value]"
      class="results-item"
      *ngFor="let episode of episodes"
    >
      <app-search-result-entity-moblie
        [episodes]="episode"
      ></app-search-result-entity-moblie>
    </a>
  </section>

  <section class="no-results" *ngIf="episodes.length <= 0">
    <h4>Sin resultados</h4>
  </section>
</main>
