.public {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.public-content {
  height: 100%;
  overflow-y: auto;
  padding: 1rem 0;
}

.routes {
  flex-grow: 1;
}

.navbars {
  position: sticky;
  bottom: 0;
}

// .audio-player {
//   position: sticky;
//   position: -webkit-sticky;

//   bottom: 69px;
//   height: 50px;
// }
