.public {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.public-content {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 1rem;
}

.routes {
  flex-grow: 1;
}

.navbars {
  position: sticky;
  bottom: 0;
}

@media screen and (min-width: 500px) {
  .public {
    flex-direction: row-reverse;
    width: 100%;
  }
  .public-content {
    width: 100%;
  }
  .audio-player {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
