.wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 1rem 1rem;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.header-back {
  width: 60%;
}
.header__back__link {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 1.2rem;

  background-color: transparent;
  border: none;
  padding: 0.25rem 1rem;
  border-radius: var(--border-radius);

  cursor: pointer;

  &:hover {
    background-color: var(--hover);
    color: var(--text-primary);
  }
}

.header-userdata {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.userdata-image {
  width: 80px;
  height: 80px;
}
.userdata-info {
  display: flex;
  justify-content: center;
  &__name {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
  }
}

.header-blank {
  width: 60%;
}
.userdata-info {
  margin-top: 1rem;
}

.content {
  flex-grow: 1;
}

.meta-info {
  display: flex;
  align-items: center;
  width: 100%;

  padding: 1rem;
  border-radius: 0.5rem;
  margin: 2rem 0;

  background: linear-gradient(
    to top,
    var(--background),
    var(--background-card)
  );
}

.meta-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--text-secondary);
  width: 33%;

  &__number {
    color: var(--text-primary);
    font-weight: bold;
  }
}

.playlists {
  display: flex;
  flex-direction: column;

  &-title {
    & h2 {
      margin: 0.5rem 0 1rem 0;
      font-size: 1.1rem;
      font-weight: bold;
    }
  }
}

.playlists-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.col {
  display: flex;
}
.playlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  &-image {
    border-radius: var(--border-radius);
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &-info {
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  &-episodes {
    color: var(--text-secondary);
  }
}

.actions {
  display: flex;
  justify-content: center;
  width: 100%;
}
