<div class="wrapper" *ngIf="user">
  <div class="header">
    <div class="header-back">
      <a class="header__back__link" routerLink="../">
        <i class="fas fa-angle-left"></i>
      </a>
    </div>

    <div class="header-userdata">
      <div class="userdata-image">
        <app-circle-profile></app-circle-profile>
      </div>

      <div class="userdata-info">
        <span class="userdata-info__name">{{ user.name.value }}</span>
      </div>

      <div class="userdata-meta"></div>
    </div>

    <div class="header-blank"></div>
  </div>

  <div class="content">
    <section class="meta-info">
      <div class="meta-info-item">
        <span class="meta-info-item__number">{{ playlistsData.length }}</span>
        <span><small>Playlists</small></span>
      </div>
    </section>

    <section class="playlists">
      <div class="playlists-title">
        <h2>Playlists</h2>
      </div>

      <div class="playlist" *ngFor="let playlist of playlistsData">
        <div class="col">
          <div class="playlist-image">
            <img [src]="playlist.imageUrl" alt="" />
          </div>

          <div class="playlist-info">
            <span>{{ playlist.name }}</span>
          </div>
        </div>

        <div class="col">
          <div class="playlist-episodes">
            <small>{{ playlist.episodes }} Episodios</small>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="actions">
    <button class="btn btn-primary-invert">Editar Perfil</button>
  </div>
</div>
