<div class="wrapper animate__animated animate__fadeIn">
  <div class="login">
    <h1>Recupera tu cuenta</h1>

    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <app-input
        placeholder="Introduce tu email"
        [formControl]="emailControl"
        class="form-input"
      ></app-input>
      <app-input
        placeholder="Introduce tu contraseña"
        [formControl]="passwordControl"
        typeConstant="password"
        class="form-input"
      ></app-input
      ><app-input
        placeholder="Confirma tu contraseña"
        [formControl]="passwordConfirmationControl"
        typeConstant="password"
        class="form-input"
      ></app-input>

      <div class="forgot-password">
        <a routerLink="/settings"><small>Ya tengo cuenta</small></a>
      </div>

      <div class="actions">
        <button class="btn btn-primary btn-block">Recuperar</button>
      </div>
    </form>

    <hr class="divider" />

    <div class="rrss">
      <div class="rrss-header"></div>

      <div class="rrss-actions"></div>
    </div>
  </div>
</div>
