<div class="wrapper" *ngIf="user">
  <div class="header">
    <a class="header-userdata" [routerLink]="['./profile']">
      <div class="header-userdata-image">
        <app-circle-profile></app-circle-profile>
      </div>

      <div class="header-name">
        <span class="header-name__name">{{ user?.name?.value }}</span>
        <span class="header-name__meta">Ver perfil</span>
      </div>
    </a>

    <div class="icon">
      <!-- arrow left icon fontawesome -->
      <i class="fas fa-angle-right"></i>
    </div>
  </div>

  <hr class="divider" />

  <div class="lists">
    <div class="user-actions list">
      <a
        class="list-item"
        *ngFor="let link of userLinks"
        [routerLink]="['./' + link.url]"
      >
        <span>{{ link.label }}</span>
        <div class="icon">
          <!-- arrow left icon fontawesome -->
          <i class="fas fa-angle-right"></i>
        </div>
      </a>
    </div>

    <hr class="divider" />

    <div class="app-actions list">
      <a
        class="list-item"
        *ngFor="let link of appLinks"
        [routerLink]="link.url"
      >
        <span>{{ link.label }}</span>
        <div class="icon">
          <!-- arrow left icon fontawesome -->
          <i class="fas fa-angle-right"></i>
        </div>
      </a>
    </div>
  </div>

  <div class="logout">
    <button class="btn btn-danger-invert" (click)="logout()">
      Cerrar Sesión
    </button>
  </div>
</div>
