.divider {
  border: none;
  height: 1px;
  background-color: var(--background-card);
  margin: 1rem 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
}

.header__back {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 1.2rem;

  background-color: transparent;
  border: none;
  padding: 0.25rem 1rem;
  border-radius: var(--border-radius);

  cursor: pointer;

  &:hover {
    background-color: var(--hover);
    color: var(--text-primary);
  }
}

.header__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-primary);
  margin: 0;
  margin-left: 1rem;
  text-align: center;
  flex-grow: 1;
}

.lists {
  flex-grow: 1;
}
.list {
  display: flex;
  flex-direction: column;

  width: 100%;
}
.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  color: var(--text-secondary);

  text-decoration: none;
  background-color: transparent;
  border: none;

  &:hover {
    color: var(--text-primary);

    & .icon {
      color: var(--text-primary);
    }
  }
}
