<div class="input-wrapper">
  <input
    [type]="type"
    [placeholder]="placeholder"
    [formControl]="formControl"
    #input
  />

  <div class="actions">
    <button role="button" class="actions__action" (click)="onClear($event)">
      <i class="fa fa-times"></i>
    </button>
    <button
      class="actions__action"
      *ngIf="isPassword"
      (click)="changeVisibility($event)"
    >
      <!-- icon eye fontawesome -->
      <i class="fa fa-eye" *ngIf="!isVisible"></i>

      <!-- icon eye-slash fontawesome -->
      <i class="fa fa-eye-slash" *ngIf="isVisible"></i>
    </button>
  </div>
</div>
<div class="error" *ngIf="hasError()">
  <div class="icon">
    <i class="fa fa-exclamation-triangle"></i>
  </div>
  <div class="message">
    <span>{{ error() }}</span>
  </div>
</div>
