<div class="audio-player-wrapper">
  <div class="time-bar">
    <app-time-bar
      [percent]="percentRoute"
      [duration]="duration"
      (changeEmitter)="onTimeChange($event)"
    ></app-time-bar>
  </div>

  <div class="actions">
    <button class="action" (click)="toggleRandom()">
      <!-- random icon -->
      <i class="fas fa-random" [ngClass]="{ active: isPlaylist }"></i>
    </button>

    <button class="action" (click)="previous()">
      <i
        class="fa-solid fa-backward-step"
        [ngClass]="{ active: isPlaylist }"
      ></i>
    </button>

    <button class="action play" (click)="togglePlayPause()">
      <i class="fas fa-play active" *ngIf="!playingStatus"></i>
      <i class="fas fa-pause active" *ngIf="playingStatus"></i>
    </button>

    <button class="action" (click)="next()">
      <i
        class="fa-solid fa-forward-step"
        [ngClass]="{ active: isPlaylist }"
      ></i>
    </button>

    <button class="action">
      <i class="fa-solid fa-arrow-up-right-from-square active"></i>
    </button>
  </div>

  <div class="volume">
    <app-volume-bar
      [percent]="percentVolume"
      (volumeChangeEmitter)="onVolumeChange($event)"
    ></app-volume-bar>
  </div>
</div>
