.results {
  display: flex;
  flex-direction: column;

  &-item {
    text-decoration: none;
    color: var(--text-primary);
    border-bottom: 1px solid var(--text-secondary);

    &:hover {
      border-bottom: 1px solid var(--text-primary);
    }
  }

  &__title {
    font-size: 1rem;
  }
}
