<div class="login">
  <h1>Entra con tu email y contraseña</h1>

  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-input
      placeholder="Introduce tu email"
      [formControl]="emailControl"
      class="form-input"
    ></app-input>
    <app-input
      placeholder="Introduce tu contraseña"
      [formControl]="passwordControl"
      class="form-input"
    ></app-input>

    <div class="forgot-password">
      <a><small>He olvidado mi contraseña</small></a>
    </div>

    <div class="actions">
      <div class="actions-checkbox">
        <app-checkbox
          label="Recuérdame"
          [control]="rememberControler"
        ></app-checkbox>
      </div>
      <button class="btn btn-primary btn-block" (click)="onSubmit()">
        Acceder
      </button>
    </div>
  </form>
</div>
