.login {
  display: flex;
  flex-direction: column;

  & h1 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &-input {
    margin-bottom: 1rem;
  }
}

.forgot-password {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;

  & a {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-secondary);
    transition: 0.2s;

    &:hover {
      text-decoration: underline;
      color: var(--text-primary);
    }
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-checkbox {
    width: 100%;
  }
}
