.login {
  display: flex;
  flex-direction: column;

  & h1 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &-input {
    margin-bottom: 1rem;
  }
}

.forgot-password {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  & a {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-secondary);
    transition: 0.2s;

    &:hover {
      text-decoration: underline;
      color: var(--text-primary);
    }
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-checkbox {
    width: 100%;
  }
}

.btn.google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.divider {
  border: none;
  height: 1px;
  background-color: var(--text-secondary);
  margin: 2rem 0;
}

.rrss-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;
}

@media screen and (min-width: 500px) {
  .rrss-actions {
    padding: 0;
  }
}
