<main class="animate__animated animate__fadeIn home">
  <div class="header">
    <span class="header__regards"
      >Hola, <span class="header__regards__name">Usuario!</span></span
    >
    <div class="header-profile">
      <app-circle-profile></app-circle-profile>
    </div>
  </div>

  <div class="content">
    <section class="section">
      <h5 class="section__title">Trending</h5>
      <app-episode-card-list
        route="/episode"
        [entities]="lastEpisodes"
      ></app-episode-card-list>
    </section>

    <section class="section">
      <h5 class="section__title">Canales Populares</h5>
      <app-episode-card-list
        route="/episode"
        [entities]="lastEpisodes"
      ></app-episode-card-list>
    </section>

    <section class="section">
      <h5 class="section__title">Últimos episodios</h5>
      <app-episode-card-list
        route="/episode"
        [entities]="lastEpisodes"
      ></app-episode-card-list>
    </section>
  </div>
</main>
