<div class="home">
  <div class="header">
    <span class="header__regards">Hola, Usuario!</span>
    <app-circle-profile></app-circle-profile>
  </div>

  <div class="content">
    <section class="section">
      <h5 class="section__title">Trending</h5>
    </section>

    <section class="section">
      <h5 class="section__title">Canales Populares</h5>
      <app-episode-card-list></app-episode-card-list>
    </section>

    <section class="section">
      <h5 class="section__title">Últimos episodios</h5>
      <app-episode-card-list></app-episode-card-list>
    </section>

    <section class="section">
      <h5 class="section__title">Últimos episodios</h5>
      <app-episode-card-list></app-episode-card-list>
    </section>
  </div>
</div>
