.home {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem;
}
.header__regards__title {
  font-size: 1.3rem;
  font-weight: bold;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-profile {
  width: 40px;
  height: 40px;
}

.section__title {
  padding: 0.5rem;
  margin: 1.5rem 0 1rem 0;
  font-size: 1rem;
}

.header__regards {
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--text-secondary);

  &__name {
    font-weight: bold;
    color: var(--text-primary);
  }
}

@media screen and (min-width: 500px) {
  .section__title {
    font-size: 1.2rem;
  }
}
