<div class="wrapper">
  <div class="header">
    <a class="header__back" routerLink="../">
      <i class="fas fa-angle-left"></i>
    </a>

    <h1 class="header__title">Acerca de</h1>
  </div>

  <div class="content">
    <div class="content-header">
      <img src="assets/images/cover.png" alt="icono del podcast" />
    </div>

    <main class="content-content">
      <section class="content-section">
        <h2>Cookies</h2>

        Esta aplicación únicamente utiliza cookies necesarias para el correcto
        funcionamiento de la misma. Como ejemplo de éstas cookies son:

        <ul>
          <li>
            <strong>Token de sesión:</strong> token que valida que un usuario
            está autenticado
          </li>
          <li>
            <strong>Ultimo episodio escuchado:</strong> datos del ultimo
            episodio que se ha escuchado en el dispositivo.
          </li>
          <li>
            <strong>Email:</strong> si se establece “recordar” en el inicio de
            sesión, quedará el email almacenado como cookie para que no sea
            necesario introducirlo en cada acceso.
          </li>
        </ul>
      </section>

      <section class="content-section">
        <h2>Acceso con RRSS (google)</h2>

        Únicamente se obtienen 3 datos del inicio de sesión con redes sociales
        (google):

        <ul>
          <li>Email del usuario</li>
          <li>Nombre del usuario</li>
          <li>Imagen del usuario</li>
        </ul>
      </section>

      <section class="content-section">
        <h2>Powered By Ivoox</h2>

        Esta aplicación se apoya en el
        <a href="https://www.ivoox.com/feed_fg_f1172891_filtro_1.xml">feed</a>
        de
        <a
          href="https://www.ivoox.com/podcast-coffee-break-senal-ruido_sq_f1172891_1.html"
          >coffeebreak: señal y ruido podcast de la plataforma Ivoox</a
        >
      </section>

      <section class="content-section">
        <h2>Sugerencias, contacto y reporte de “bugs”</h2>
        Para contactar con el desarrollador de la aplicacion, para trasladar
        cualquier inquietud, puede hacerlo a través de la dirección de email:
        valentin@valentinvalverde.com. Estableciendo como asunto:
        <strong>Coffeebreak Aplicación</strong>
      </section>
    </main>
  </div>
</div>
