<div class="wrapper">
  <div class="header">
    <a class="header__back" routerLink="../">
      <i class="fas fa-angle-left"></i>
    </a>

    <h1 class="header__title">Cambiar contraseña</h1>
  </div>

  <form class="form" [formGroup]="form" (submit)="onSubmit()">
    <div class="form-inputs">
      <div class="form-input">
        <app-input
          typeConstant="password"
          placeholder="Nueva contraseña"
          [formControl]="passwordControl"
        ></app-input>
      </div>

      <div class="form-input">
        <app-input
          typeConstant="password"
          placeholder="Confirmar contraseña"
          [formControl]="confirmationControl"
        ></app-input>
      </div>
    </div>

    <div class="actions">
      <button class="btn btn-primary-invert btn-block">Confirmar</button>
    </div>
  </form>
</div>
