.mobile-navbar {
  background-color: var(--background-navbar);
  width: 100%;
  height: 70px;

  z-index: 1;

  & ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    list-style: none;
    margin: 0;
    padding: 0.5rem 0.25rem;

    overflow-x: auto;
  }
}
