.mobile-navbar {
  position: fixed;
  bottom: 0;

  background-color: var(--background-navbar-dark);
  width: 100%;

  & ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    list-style: none;
    padding: 0.5rem 0.25rem;
    margin: 0;
  }
}
