.alert-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  width: 90%;
}

.alert-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding: 0.5rem;
  border-radius: var(--input-border-radius);
  background-color: var(--background-card);
  box-shadow: 0 0 5px var(--hover);
}

.alert-card-icon {
  margin-right: 0.5rem;
  //background succes with transparent color
  background-color: var(--background);
  border-radius: var(--input-border-radius);
  padding: 0.25rem;
  & i {
    font-size: 2rem;
  }

  &.succes {
    & i {
      color: var(--succes);
    }
  }
  &.warning {
    & i {
      color: var(--warning);
    }
  }
  &.danger {
    & i {
      color: var(--danger);
    }
  }
  &.info {
    & i {
      color: var(--info);
    }
  }
}
.alert-card-close-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
  padding: 0.5rem;

  & i {
    font-size: 1.5rem;
    color: var(--text-secondary);
  }

  &:focus {
    outline: none;
    border: 2px solid var(--text-primary);
    border-radius: var(--border-radius);
  }
}

.alert-card-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.alert-card-message {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.alert-card-message__title {
  font-weight: bold;
}
.alert-card-message__subtitle {
  font-size: 0.9rem;
  &.succes {
    color: var(--succes);
  }
  &.warning {
    color: var(--warning);
  }
  &.danger {
    color: var(--danger);
  }
  &.info {
    color: var(--info);
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (min-width: 500px) {
  .alert-container {
    width: 40%;
  }
}
