<div class="alert-container">
  <div
    *ngFor="let alert of alerts.reverse()"
    class="alert-card {{ alert.type }} animate__animated animate__bounceInDown"
    [ngClass]="{ fadeOut: alert.fadeOut ? true : false }"
    (click)="removeAlert(alert)"
  >
    <i class="fas fa-check-circle" *ngIf="alert.type === 'succes'"></i>
    <i class="fas fa-exclamation-triangle" *ngIf="alert.type === 'warning'"></i>
    <i class="fas fa-exclamation-triangle" *ngIf="alert.type === 'info'"></i>
    <i class="fas fa-exclamation-circle" *ngIf="alert.type === 'danger'"></i>

    <span class="alert-message">{{ alert.message }}</span>

    <!-- <div class="remove-alert">
        <i class="far fa-times-circle" (click)="removeAlert(alert)"></i>
      </div> -->
  </div>
</div>
