<div class="animate__animated animate__fadeIn episode-player">
  <div class="header">
    <a class="header__action" [routerLink]="previousUrl$ | async">
      <i class="fa-solid fa-chevron-left"></i>
    </a>

    <a
      class="header-playlist"
      *ngIf="isPlaylist()"
      [routerLink]="['/playlist', playlist?.uuid?.value]"
    >
      <h5>
        Playlist
        <small>{{ playlist?.name?.value }}</small>
        <br />
        <small
          >{{ episodePlaylistIndex$ | async }} /
          {{ playlist?.getEpisodesCount() }}</small
        >
      </h5>
    </a>

    <app-episode-options-button>
      <button class="options-action" (click)="onAddToPlaylist()" #addPlaylist>
        <i class="fa-solid fa-plus options-action__icon"></i>
        <span>Agregar a playlist</span>
      </button>
      <button class="options-action" (click)="onClickTimer()">
        <div class="bubble" [ngClass]="{ green: timerStatus$ | async }"></div>
        <span>Temporizador</span>
      </button>
    </app-episode-options-button>
  </div>

  <div class="image">
    <img
      [src]="episode?.imageUrl?.value"
      alt=""
      (error)="onImageError($event)"
    />
  </div>

  <div class="title">
    <div>
      <h4>{{ "Episodio " + episode?.episode }}</h4>
      <p>{{ episode?.title?.value }}</p>
    </div>

    <div class="tabs">
      <div class="tabs-buttons">
        <button
          class="btn btn-small tab-item"
          [ngClass]="{
            active: selectedTab === 'DESCRIPTION'
          }"
          (click)="setSelectedTab('DESCRIPTION')"
        >
          Descripción
        </button>
        <hr class="vertical-divider" />
        <button
          class="btn btn-small tab-item"
          [ngClass]="{
            active: selectedTab === 'EPISODE_TRACKS'
          }"
          (click)="setSelectedTab('EPISODE_TRACKS')"
        >
          {{ tracks.length }} Tracks
        </button>
      </div>

      <div class="tab-content">
        <div class="title-description" *ngIf="selectedTab === 'DESCRIPTION'">
          <p [innerHtml]="episode?.description?.value"></p>
        </div>

        <div class="tracks" *ngIf="selectedTab === 'EPISODE_TRACKS'">
          <div class="track" *ngFor="let track of tracks">
            <button class="track-time" (click)="goToTrack(track)">
              {{ track.time.value }}
            </button>
            <span class="track-description">{{ track.description.value }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="title-meta">
      <small>{{ episode?.pubDate?.toDDMMYYYY() }}</small>
    </div>
  </div>

  <div class="player">
    <app-principal-audio-player
      class="player"
      [duration]="episode?.duration?.value ?? 10000"
      [isPlaylist]="isPlaylist()"
      [isSameEpisode]="isSameThanPlaying"
      (nextEmitter)="onNext()"
      (previousEmitter)="onPrevious()"
      (playPulseEmitter)="onPlayPulse()"
    ></app-principal-audio-player>
  </div>
</div>

<app-modal #modal></app-modal>
