<div class="animate__animated animate__fadeIn episode-player">
  <div class="header">
    <a class="header__action" [routerLink]="previousUrl | async">
      <i class="fa-solid fa-chevron-left"></i>
    </a>

    <a
      class="header-playlist"
      *ngIf="isPlaylist()"
      [routerLink]="['/playlist', playlist?.uuid?.value]"
    >
      <h5>
        Playlist
        <small>{{ playlist?.name?.value }}</small>
        <br />
        <small
          >{{ episodePlaylistIndex$ | async }} /
          {{ playlist?.getEpisodesCount() }}</small
        >
      </h5>
    </a>

    <app-episode-options-button
      (addPlaylistEmitter)="onAddToPlaylist()"
    ></app-episode-options-button>
  </div>

  <div class="image">
    <img [src]="episode?.imageUrl?.value" alt="" />
  </div>

  <div class="title">
    <h4>{{ "Episodio " + episode?.episode }}</h4>
    <p>{{ episode?.title?.value }}</p>

    <h5>{{ "Descripción" }}</h5>
    <div class="title-description">
      <p [innerHtml]="episode?.description?.value"></p>
    </div>
    <div class="title-meta">
      <small>{{ episode?.pubDate?.toDDMMYYYY() }}</small>
    </div>
  </div>

  <div class="player">
    <app-principal-audio-player
      class="player"
      [duration]="episode?.duration?.value ?? 10000"
      [isPlaylist]="isPlaylist()"
      (nextEmitter)="onNext()"
      (previousEmitter)="onPrevious()"
    ></app-principal-audio-player>
  </div>
</div>

<app-modal #modal></app-modal>
